.services {
  display: flex;
  justify-content: space-between;
  padding: 80px 80px 140px;
  background: #fff;
  gap: 80px;
  width: 100%;
  box-sizing: border-box;
}

.services.is-split {
  padding: 0 !important;
  background: transparent !important;
  gap: 0 !important;
}

.services.is-split .services-right {
  width: 100% !important;
}

.services-left {
  width: 30%;
}

.services-left h2 {
  font-size: 45px;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  color: #1a1919;
  line-height: 1.2;
  margin: 0px 0px 30px;
}

.services-left h6 {
  font-size: 17px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: #808080;
  line-height: 1.6;
  margin: 0px 0px 8px;
  max-width: 380px;
}

.services-right {
  width: 68%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.services-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 80px;
}

.service-card {
  width: 100%;
  text-align: left;
}

.service-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin-bottom: 30px;
}

.service-card h4 {
  font-size: 14px;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  color: #1a1919;
  line-height: 1.4;
  margin: 0px 0px 15px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.service-card p {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  margin: 0px 0px 25px;
}

.service-card a {
  position: relative;
  color: #fccb06;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
}

/* hover for underline */
.service-card a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 1px;
  background: #000;
  transition: width 0.5s ease;
}

.service-card a:hover::after {
  width: 100%;
}

/* responsive */
@media (max-width: 1024px) {
  .services {
    flex-direction: column;
    padding: 60px 40px 100px;
    gap: 50px;
  }

  .services-left,
  .services-right {
    width: 100%;
  }

  .services-row {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .services {
    padding: 60px 25px 80px;
  }

  .services-left h2 {
    font-size: 32px;
  }

  .services-row {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

@media (max-width: 480px) {
  .services {
    padding: 50px 20px 60px;
  }
}
