.services {
  display: flex;
  justify-content: space-between;
  padding: 110px 80px;
  background: #fff;
  gap: 40px;
}

.services-left {
  width: 35%;
}

.services-left h2 {
  font-size: 45px;
  font-weight: 800;
  font-family: 'Segoe UI';
  color: #212529;
  line-height: 1.1;
  margin: 0px 0px 40px;
}

.services-left h6 {
  font-size: 17px;
  font-weight: 300;
  font-family: 'Segoe UI';
  color: #808080;
  line-height: 1.9;
  /* width: 90%; */
  margin: 0px 0px 8px;
  
}

.services-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.services-row {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.service-card {
  width: 30%;
  text-align: left;
}

.service-icon {
  width: 50px;
  margin-bottom: 15px;
}

.service-card h4{
  font-size: 15px;
  font-weight: 800;
  font-family: 'Segoe UI';
  color: #212529;
  line-height: 1.3;
  margin:0px 0px 5px;
}

.service-card p {
  font-size: 14px;
  font-weight: 400;
  color: #212529;
  font-family: 'Segoe UI';
  /* line-height: 1.6; */
  margin:0px 0px 25px;
  /* width: 95%; */
}

.service-card a {
  position: relative;
  color: #FFD94A;
  font-family: 'dered Segoe UI';
  font-size:   12px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.5px;
  display: inline-block;
}

/* hover for underline */
.service-card a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 1px;
  background: #000;
  transition: width 0.5s ease;
}

.service-card a:hover::after {
  width: 100%;
}

/* responsive */
@media (max-width: 1100px) {
  .services {
    flex-direction: column;
  }

  .services-left,
  .services-right {
    width: 100%;
  }

  .services-row {
    flex-wrap: wrap;
  }

  .service-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 650px) {
  .service-card {
    width: 100%;
  }
}
