.yellow-box {
  height: 50px;
  width: 50px;
  background-color: #ffde39;
  position: relative;
  margin: 0 auto;
  perspective: 200px;
  overflow: visible;
}

.white-box {
  height: 14px;
  width: 14px;
  background-color: white;
  position: absolute;
  animation: moveWhite 2s infinite;
}

@keyframes moveWhite {
  0% {
    top: 5px;
    left: 5px;
  }
  25% {
    top: 5px;
    left: calc(100% - 15px - 5px);
  }
  50% {
    top: calc(100% - 15px - 5px);
    left: calc(100% - 15px - 5px);
  }
  75% {
    top: calc(100% - 15px - 5px);
    left: 5px;
  }
  100% {
    top: 5px;
    left: 5px;
  }
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typing-text {
  color: white;
  font-size: 11px;
  font-weight: 200;
  margin-top: 20px;
  height: 25px;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid white;
  width: 0;
  text-align-last: center;
  animation:
    typing 1.5s steps(11) infinite alternate,
    blinkCursor 0.7s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 75px;
  }
}

@keyframes backspace {
  from {
    width: 75px;
  }

  to {
    width: 0;
  }
}

@keyframes blinkCursor {
  from {
    border-color: #ffde39;
  }

  to {
    border-color: transparent;
  }
}
