.gabicci-page {
  min-height: 100vh;
  background-color: #fff;
  color: #000;
}

.gabicci-header {
  position: relative;
  min-height: 60vh;
  height: auto;
  background: #131314;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 80px;
  color: #fff;
  overflow: hidden;
}

.gabicci-header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/images/banner/lines.png");
  background-repeat: repeat;
  opacity: 0.9;
  pointer-events: none;
}

.gabicci-header-content {
  width: 100%;
  position: relative;
  z-index: 1;
}

.page-title {
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 800;
  margin-bottom: 15px;
  color: #fff;
  line-height: 1.1;
  text-transform: uppercase;
}

.page-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #fff;
  max-width: 50%;
}

.gabicciTop {
  margin-bottom: 120px;
  width: 100%;
  margin: 10% 0px 10% 1%;
}

.gabicciTop h2 {
  font-family: "Inter", sans-serif;
  font-size: 45px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #1a1919;
}

.gabicciTop p {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 20px;
  color: #333;
}

.bannerImg {
  max-width: 100%;
}

.gabicci-grid {
  display: flex;
  margin: 2%;
  gap: 2.5%;
}

.gabicci01 {
  max-width: 100%;
  max-height: 100%;
}

.gabicci02 {
  width: 100%;
}

.gabicci-containGrid {
  display: flex;
}

.gabicci-containGrid h2 {
  font-family: "Inter", sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #1a1919;
  line-height: 1.2;
  font-weight: 800;
}

.gabicci-containGrid h6 {
  font-family: "Inter", sans-serif;
  color: #333;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.gabicci-grid01 {
  margin: 15% 0% 11% 2%;
  max-width: 40%;
}

.gabicci-grid02 h2 {
  margin-left: 50%;
}

.gabicci-grid02 h6 {
  margin-left: 20%;
}

/* responsive */
@media (max-width: 1024px) {
  .page-title {
    font-size: 3.5rem;
  }

  .page-subtitle {
    max-width: 80%;
  }

  .gabicciSection {
    margin-top: 120px;
  }
}

@media (max-width: 768px) {
  .gabicci-header {
    min-height: 50vh;
    padding: 160px 25px 80px;
  }

  .page-title {
    font-size: 42px;
  }

  .page-subtitle {
    font-size: 16px;
    max-width: 100%;
  }

  .gabicciSection {
    flex-direction: column;
    margin: 100px 30px 0;
  }
}

@media (max-width: 480px) {
  .gabicci-header {
    padding: 150px 20px 60px !important;
  }
  .page-title {
    font-size: 30px;
  }

  .gabicciTop {
    padding: 0 25px;
    margin: 60px 0;
  }

  .gabicciTop h2,
  .gabicci-containGrid h2 {
    font-size: 32px !important;
  }

  .gabicciTop p,
  .gabicci-containGrid h6 {
    font-size: 15px;
  }
}
