
 .case-studies {
  width: 100%;
  background: #000;
  padding: 120px 0;
  text-align: center;
}

.case-title {
  font-size: 70px;
  font-weight: 900;
  color: #ffffff;
  margin: 0px 0px 40px;
  padding: 0px 0px 0px 15px;
  text-align: left;
  width: 90%;
  margin-inline: auto;
}

.case-wrapper {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 30px;
}

.case-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s ease;
}

.case-card.show {
  opacity: 1;
  transform: translateY(0);
}

.case-card img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  transition: 0.4s ease;
  filter: brightness(0.85);
}

.case-card:hover img {
  transform: scale(1.07);
  filter: brightness(1);
}

.case-name {
  position: absolute;
  bottom: 15px;
  left: 20px;
  color: #fff;
  font-size: 28px;
  font-weight: 900;
  text-transform: capitalize;
}
