.case-studies {
  width: 100%;
  background: #000;
  padding: 90px 0;
}

.case-studies.is-split {
  padding: 0 !important;
  background: transparent !important;
}

.case-studies.is-split .case-wrapper {
  padding: 0 !important;
}

.case-studies.is-black {
  background: #000;
}

.case-title {
  font-size: 45px;
  font-family: "Inter";
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 50px;
  padding-left: 80px;
  text-align: left;
}

.case-wrapper {
  width: 100%;
  padding: 0 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px 30px;
}

.case-card {
  position: relative;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.case-card.show {
  opacity: 1;
  transform: translateY(0);
}

.case-card img {
  width: 80%;
  height: 380px;
  object-fit: cover;
  display: block;
  transition: 0.4s ease;
  filter: brightness(0.8);
}

.case-card:hover img {
  transform: scale(1.05);
  filter: brightness(1);
}

.case-name {
  position: absolute;
  bottom: 95px;
  left: 2px;
  color: #fff;
  font-family: "Inter";
  font-size: 28px;
  font-weight: 800;
  text-transform: capitalize;
  pointer-events: none;
}

.case-detail {
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  bottom: 60px;
  left: 2px;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 600;
  border-bottom: 2px solid #fff;
  display: none;
}

.case-card:hover .case-detail {
  display: block;
}

.case-detail:hover {
  color: #ffd94a;
}

/* responsive */
@media (max-width: 1400px) {
  .case-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .case-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .case-card img {
    height: 340px;
  }
}

@media (max-width: 768px) {
  .case-studies {
    padding: 60px 0;
  }

  .case-title {
    font-size: 32px;
    padding-left: 25px;
    margin-bottom: 30px;
  }

  .case-wrapper {
    grid-template-columns: 1fr;
  }

  .case-card {
    align-items: center;
    /* 🔥 center cards */
    text-align: center;
  }

  .case-card img {
    width: 100%;
    max-width: 320px;
    height: 300px;
  }

  .case-name {
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 15px;
    font-size: 20px;
  }

  .case-detail {
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 6px;
    display: block;
  }
}

@media (max-width: 480px) {
  .case-title {
    font-size: 28px;
    padding-left: 20px;
  }

  .case-wrapper {
    padding: 0 20px;
  }

  .case-card img {
    height: 240px;
    max-width: 100%;
  }

  .case-name {
    font-size: 18px;
  }
}
