.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url('/images/hero-bg.gif') center/cover no-repeat;
  overflow: hidden;
  color: #fff;
}
.hero-header {
  position: absolute;
  top: 25px;
  left: 50px;
  right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3000;
}
.hero-logo {
  width: 170px;
}

.menu-btn {
  width: 48px;
  height: 48px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  background: transparent;
  cursor: pointer;
}



.right-panel {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3000;
}

.center-image {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-strip {
  width: 60%;
  max-width: 750px;
}
.yellow-screen {
  position: fixed;
  inset: 0;
  background: #FFDE39;
  animation: yellowSlide 0.45s ease forwards;
  z-index: 2500;
}
@keyframes yellowSlide {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

.menu-overlay {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: .4s ease;
  z-index: 2600;
}
.menu-overlay.show {
  opacity: 1;
  visibility: visible;
}

.menu-btn.hide {
  opacity: 0;
  pointer-events: none;
}

.right-panel.hide {
  opacity: 0;
  pointer-events: none;
}
.menu-list {
  list-style: none;
  text-align: center;
  padding: 0;
}
.menu-list li {
  margin: 15px 0;
}
.menu-list a {
  font-size: 38px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  transition: 0.25s ease;
}
.menu-list a:hover {
  color: #FFDE39;
  transform: scale(1.05);
}
.close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: transparent;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  transition: 0.25s;
}

.close-btn:hover {
  color: #FFDE39;
  border-color: #FFDE39;
}
.menu-overlay.show {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.right-panel {
  transition: .3s ease;
}

.menu-overlay.show ~ .right-panel,
.menu-overlay.show ~ .left-options {
  opacity: 0;
  pointer-events: none;
}

@media(max-width:768px){
  .menu-list a { font-size: 28px; }
}
