.contactPage {
  width: 100%;
  background: #fff;
  color: #000;
  overflow-x: hidden;
}


.heroSection {
  min-height: 100vh;
  height: auto;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 60px;
  color: #fff;
}

.heroSection h1 {
  font-size: 4.6rem;
  font-weight: 900;
  margin-bottom: 10px;
}

.heroSection p {
  font-size: 1rem;
  width: 50%;
  line-height: 1.5;
  opacity: 0.9;
}


.contactSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding: 60px;
  align-items: flex-start;
}

.contactInfo h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.contactInfo p {
  color: #444;
  margin-bottom: 20px;
}

.contactInfo ul {
  list-style: none;
  padding: 0;
}

.contactInfo li {
  margin-bottom: 12px;
  font-size: 1rem;
  color: #333;
}

.contactForm {
  padding: 30px;
  border-radius: 12px;
}

.inputGroup {
  margin-bottom: 20px;
}

.inputGroup label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.inputGroup input,
.inputGroup textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.inputGroup textarea {
  height: 120px;
  resize: none;
}

.submitBtn {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 14px;
  border: none;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.submitBtn:hover {
  background: #333;
}

/* responsive */
@media (max-width: 1024px) {
  .heroSection h1 {
    font-size: 3.6rem;
  }

  .heroSection p {
    width: 70%;
  }
}

@media (max-width: 900px) {

  .heroSection {
    min-height: auto;
    padding: 80px 30px;
  }

  .heroSection h1 {
    font-size: 3rem;
  }

  .heroSection p {
    width: 100%;
  }

  .contactSection {
    grid-template-columns: 1fr;
    padding: 40px 20px;
  }
}

@media (max-width: 480px) {
  .heroSection h1 {
    font-size: 2.4rem;
  }
}