* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  line-height: 1.6;
  color: #333;
}


.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

h1, h2, h3, h4 {
  font-weight: 700;
}