.partnerSection {
  width: 100%;
  background: #fff;
  color: #000;
  overflow-x: hidden;
}


.heroSection {
  min-height: 100vh;
  height: auto;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 60px;
  color: #fff;
}

.heroSection h1 {
  font-size: 4.6rem;
  font-weight: 900;
  margin-bottom: 0px;
}

.heroSection p {
  font-size: 1rem;
  width: 50%;
  line-height: 1.5;
}


.growTogether {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 200px;
  justify-content: space-between;
  gap: 40px;
  height: auto;
}

.growLeft,
.growRight {
  flex: 1;
}

.growLeft h2 {
  font-size: 40px;
  color: #212529;
  max-width: 500px;
  font-weight: 900;
}

.growLeft p {
  margin-top: 5px;
  color: #808080;
  width: 90%;
  line-height: 1.7;
}

.growRight p {
  margin-left: 20px;
  margin-bottom: 20px;
  line-height: 1.7;
}


.horizontalLine {
  width: 100%;
  height: 1px;
  background: #333;
  margin: 100px auto;
  max-width: 1200px;
}

/* responsive */
@media (max-width: 1024px) {
  .heroSection h1 {
    font-size: 3.6rem;
  }

  .heroSection p {
    width: 70%;
  }

  .growTogether {
    margin-top: 150px;
  }
}

@media (max-width: 768px) {

  .heroSection {
    min-height: auto;
    padding: 80px 30px;
  }

  .heroSection h1 {
    font-size: 3rem;
  }

  .heroSection p {
    width: 100%;
  }

  .growTogether {
    flex-direction: column;
    padding: 60px 8%;
    margin-top: 100px;
  }

  .growLeft h2 {
    max-width: 100%;
    font-size: 2.2rem;
  }

  .growRight p {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .heroSection h1 {
    font-size: 2.4rem;
  }
}