/* partners.module.css */
.partnerSection {
  width: 100%;
  background: #fff;
  color: #000;
  overflow-x: hidden;
}

/* Hero Section */
.heroSection {
  height: 100vh;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  color: #fff;
}
.heroSection h1 {
  font-size: 4.6rem;
  font-weight: 900;
  margin-bottom: 0px;
}
.heroSection p {
  font-size: 1rem;
  width: 50%;
  line-height: 1.5;
}

/* Grow Together Section */
.growTogether {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 200px;
  justify-content: space-between;
  height: 90vh;
  gap: 40px;
}
.growLeft h2 {
  font-size: 40px;
  color: #212529;
  width: 500px;
  font-weight: 900;
}
.growLeft p {
  margin-top: 5px;
  color: #808080;
  width: 90%;
  line-height: 1.7;
}
.growRight p {
  margin-left: 20px;
  margin-bottom: 20px;
  line-height: 1.7;
}

/* Horizontal Line */
.horizontalLine {
  width: 100%;
  height: 1px;
  background: #333;
  margin: 100px 0;
  max-width: 1200px;
}

/* Responsive */
@media (max-width: 768px) {
  .heroSection {
    padding-left: 30px;
    padding-right: 30px;
  }
  .heroSection h1 {
    font-size: 3rem;
  }
  .heroSection p {
    width: 90%;
  }
  .growTogether {
    flex-direction: column;
    padding: 60px 8%;
    margin-top: 100px;
    height: auto;
  }
  .growLeft h2 {
    width: 100%;
    font-size: 2.2rem;
  }
}