/* .header {
  background:blur;
  padding: 1rem 0;

  top: 0;
  z-index: 1000;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
  display: fllex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  height: 40px;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-btn span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 2px;
} */
 /* .logo-text {
  font-size: 1.8rem;
  font-weight: 900;
  color: white;
  text-decoration: none;
  letter-spacing: -1px;
}

.menu-btn {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.contact-btn {
  background: #fcc201;
  color: black;
  padding: 1rem 0.8rem;
  border-radius: 8px;
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: none;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.whatsapp-btn {
  background: #25d366;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.social-icons img {
  width: 20px;
  filter: brightness(0) invert(1);
} */