.blog-card {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.blog-image-container {
    width: 100%;
    height: 400px;
    background-color: #3b6db0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.blog-image {
    width: 100%;
    height: 100%;
    object-fit: calc();
}

.blog-image-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.placeholder-icon {
    width: 50px;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    position: relative;
}

.placeholder-icon::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.placeholder-icon::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: rgba(255, 255, 255, 0.3);
    clip-path: polygon(0% 100%, 100% 100%, 100% 40%, 0% 0%);
}

.blog-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.blog-title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 10px;
    color: #000;
}

.blog-description {
    font-size: 14px;
    color: #212529;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 1rem;
    flex-grow: 1;

    /* for description slice */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: calc(1.5em * 3);
}

.read-more-btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 20px 50px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    align-self: flex-start;
    margin-top: auto;
    transition: background-color 0.3s;
    border-radius: 4px;
}

.read-more-btn:hover {
    background-color: #FFD94A;
    color: #000;
}