
 .header {
  position: fixed;
  top: 20px;
  left: 40px;
  right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3000;
}

.menuBtn {
  background: none;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.hamburgerCircle {
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.hamburgerCircle span {
  width: 18px;
  height: 2px;
  background: #fff;
}

.rightSidebar {
  position: absolute;
  right: 35px;
  top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 100px);
  z-index: 2980;
}



.socialIcons {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 70px;
}
.socialIcons a {
  color: white;
  font-size: 1.3rem;
  transition: transform 0.3s;
}
.socialIcons a:hover {
  transform: translateY(-3px);
}
/* 
.scrollDown {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
}

.line {
  width: 1px;
  height: 80px;
  background: #fff;
  animation: scroll 1.8s infinite alternate;
}

@keyframes scroll {
  0% { height: 80px; }
  100% { height: 120px; }
} */
 .scrollDown {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-size: 0.75rem;
  letter-spacing: 3px;
  font-weight: 500;
  color: white;
  white-space: nowrap;
}
.line {
  width: 1px;
  height: 80px;
  background: white;
  animation: scroll 2s infinite alternate;
}
@keyframes scroll {
  0% { height: 80px; }
  100% { height: 120px; }
}

.yellow-screen {
  position: fixed;
  inset: 0;
  background: #FFDE39;
  animation: slide 0.45s forwards;
  z-index: 3100;
}

@keyframes slide {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

.menu-overlay {
  position: fixed;
  inset: 0;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 3200;
  transition: .4s;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.menu-overlay.show {
  opacity: 1;
  visibility: visible;
}

.menuList {
  list-style:none;
  text-align:center;
  padding:0;
}

.menuList li {
  margin: 15px 0;
}

.menuList a{
  font-size: 42px;
  font-weight: 900;
  color: #fff;
  cursor:pointer;
  transition:.3s;
}

.menuList a:hover {
  color:#FFDE39;
}

.closeBtn {
  position:absolute;
  top:30px;
  right:55px;
  width:55px;
  height:55px;
  border-radius:50%;
  background:none;
  border:2px solid #fff;
  font-size:35px;
  color:#fff;
  cursor:pointer;
}

.mainContent {
  z-index:1;
  position:relative;
}
