.partners {
  width: 100%;
  padding: 100px 80px 120px;
  background: #ffffff;
  text-align: left;
}

.partners-title span {
  font-size: 45px;
  font-weight: 800;
  font-family: "Inter";
  text-transform: uppercase;
  color: #212529;
  letter-spacing: 1px;
}

.partners-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.partner-card {
  width: 250px;
  height: 100px;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.5s ease;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.08);
  position: relative;
  overflow: hidden;
}

.partner-card.show {
  opacity: 1;
  transform: translateY(0);
}

.partner-card img {
  max-width: 90px;
  filter: grayscale(100%);
  opacity: 0.9;
  transition: 0.4s;
}

.partner-card:hover img {
  filter: grayscale(0%);
  opacity: 0;
  transform: scale(1.05);
}

/* text overlay that shows on hover */
.partner-card p {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  transform: translateY(20px);
  transition: 0.4s ease;
}

/* show text on hover */
.partner-card:hover p {
  color: #31363a;
  opacity: 1;
  transform: translateY(0);
}

/* responsive */
@media (max-width: 1024px) {
  .partners {
    padding: 60px 40px 100px;
  }

  .partners-title span {
    font-size: 30px;
  }

  .partners-row {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .partners {
    padding: 60px 25px 80px;
    text-align: left;
  }

  .partners-title span {
    font-size: 32px;
  }

  .partners-row {
    justify-content: center;
    gap: 18px;
  }

  .partner-card {
    width: 180px;
    height: 80px;
  }

  .partner-card img {
    max-width: 55px;
  }
}

@media (max-width: 480px) {
  .partners {
    padding: 50px 20px 60px;
  }

  .partners-title span {
    font-size: 28px;
  }

  .partners-row {
    gap: 15px;
  }

  .partner-card {
    width: 100%;
    max-width: 260px;
    height: 75px;
  }

  .partner-card img {
    max-width: 50px;
  }

  .partner-card p {
    font-size: 10px;
  }
}
