
.serviceSection {
  width: 100%;
  background: #fff;
  color: #000;
  overflow-x: hidden;
}
.heroSection {
  height: 100vh;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  color: #fff;
}
.heroSection h1 {
  font-size: 4.6rem;
  font-weight: 900;
  margin-bottom: 0px;
}
.heroSection p {
  font-size: 1rem;
  width: 50%;
  line-height: 1.5;
}

/* Growth Section */
.growthSection {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 200px;
  justify-content: space-between;
  height: 50vh;
  gap: 40px;
}
.left h2 {
  font-size: 40px;
  color: #212529;
  width: 500px;
  font-weight: 900;
}
.left p {
  margin-top: 5px;
  color: #808080;
  width: 90%;
  line-height: 1.7;
}
.right p {
  margin-left: 20px;
  margin-bottom: 20px;
  line-height: 1.7;
}
.horizontalLine {
  width: 100%;
  height: 1px;
  background: #808080;
  margin-top:150px;
  max-width:full;
}
/* Responsive */
@media (max-width: 768px) {
  .heroSection {
    padding-left: 30px;
    padding-right: 30px;
  }
  .heroSection h1 {
    font-size: 3rem;
  }
  .heroSection p {
    width: 90%;
  }
  .growthSection {
    flex-direction: column;
    padding: 60px 8%;
    margin-top: 100px;
    height: auto;
  }
  .left h2 {
    width: 100%;
    font-size: 2.2rem;
  }
}