.serviceSection {
  width: 100%;
  background: #fff;
  color: #000;
  overflow-x: hidden;
}


.heroSection {
  height: 100vh;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  padding-right: 60px;
  color: #fff;
}

.heroSection h2 {
  font-size: 88px;
  line-height: 88px;
  font-weight: 800;
}

.heroSection p {
  font-size: 18px;
  width: 50%;
  line-height: 27px;
  font-weight: 300;
}


.growthSection {
  display: flex;
  justify-content: space-between;
  margin: 200px 50px 0; 
}

.left {
  width: 32%;
}

.left h2 {
  font-size: 45px;
  font-weight: 800;
  line-height: 54px;
  margin-bottom: 40px;
  color: #212529;
}

.left p {
  color: #808080;
  line-height: 1.7;
}

.right {
  width: 59%;
}

.right p {
  /* width: 100%; */
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #212529;
  font-family: 'Segoe UI';
}


.horizontalLine {
  width: 100%;
  height: 1px;
  background: #EBEBEB;
  margin: 150px 0;
}

/* responsive */
@media (max-width: 1024px) {
  .heroSection h2 {
    font-size: 64px;
    line-height: 64px;
  }

  .heroSection p {
    width: 70%;
  }

  .growthSection {
    margin-top: 120px;
  }
}

@media (max-width: 768px) {
  .heroSection {
    height: auto;
    padding: 120px 30px 80px;
  }

  .heroSection h2 {
    font-size: 48px;
    line-height: 52px;
  }

  .heroSection p {
    width: 100%;
  }

  .growthSection {
    flex-direction: column;
    margin: 100px 30px 0;
  }

  .left,
  .right {
    width: 100%;
  }

  .left h2 {
    font-size: 36px;
    line-height: 44px;
  }

  .horizontalLine {
    margin: 100px 0;
  }
}

@media (max-width: 480px) {
  .heroSection h2 {
    font-size: 36px;
    line-height: 42px;
  }

  .left h2 {
    font-size: 30px;
  }
}