
.footer {
  position: relative;
  background: #000;
  color: #ffffff;
  /* padding: 110px 0 40px; */
  padding: 70px 0 35px;
  overflow: hidden;
}


.footer-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}
.footer-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.35;
}

.footer-content {
  position: relative;
  z-index: 2;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 40% 32% 28%;
  column-gap: 70px;
}

.footer-logo {
  width: 270px;
  margin-bottom: 22px;
}
.footer-about {
  font-size: 18px;
  line-height: 1.65;
  opacity: 0.95;
  margin-bottom: 20px;
}


.footer-center {
  border-left: 2px solid rgba(255,255,255,0.2);
  border-right: 2px solid rgba(255,255,255,0.2);
  padding: 0 50px;
}

.footer-center h3,
.footer-right h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 18px;
}


.footer-center ul,
.footer-right ul {
  list-style: none;
  padding: 0;
}
.footer-center li,
.footer-right li {
  margin-bottom: 16px;
}

.footer-center a,
.footer-right a {
  text-decoration: none;
  color: #fff;
  opacity: 0.85;
  transition: 0.3s;
}

.footer-center a:hover,
.footer-right a:hover {
  opacity: 1;
  color: #fcd535;
}


.footer-bottom {
  position: relative;
  z-index: 2;
  margin-top: 40px;
  text-align: center;

}
.footer-social svg {
  font-size: 22px;
  margin: 0 14px;
  cursor: pointer;
  transition: 0.3s;
}
.footer-social svg:hover {
  color: #fcd535;
}

.copyright {
  margin-top: 12px;
  opacity: 0.75;
  font-size: 15px;
}


@media (max-width: 1024px) {
  .footer-content {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .footer-center {
    border-right: none;
  }
}
@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer-center,
  .footer-right {
    border: none;
    padding: 0;
  }
}
