.footer {
  position: relative;
  background: #131313;
  color: #ffffff;
  font-family: "Inter";
  padding: 35px 0 10px;
  overflow-x: hidden;
}

.footer-bg {
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: hidden;
}

.footer-bg-gif {
  width: 45vw;
  max-width: 620px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.footer-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
}

.footer-content {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 0 80px;
  margin: 120px 0 80px;
  display: grid;
  grid-template-columns: 1fr auto 1fr auto 1fr;
  column-gap: 80px;
  align-items: start;
  box-sizing: border-box;
}
/* .footer-left {
  width: 100%;
} */

.footer-logo {
  width: 180px;
  margin-bottom: 22px;
}

.footer-about {
  font-family: "Inter";
  font-size: 13px;
  font-weight: 600;
  line-height: 1.55;
  opacity: 0.95;
}

.footer-left-line,
.footer-right-line {
  width: 2px;
  background: #fff;
  height: 140px;
  margin-top: 40px;
}

.footer-center h3,
.footer-right h3 {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 8px;
}

.footer-center ul,
.footer-right ul {
  list-style: none;
  padding: 0;
}

.footer-center li,
.footer-right li {
  font-family: "Inter";
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 8px;
}

.footer-center a,
.footer-right a {
  text-decoration: none;
  font-size: 13px;
  opacity: 0.85;
  transition: 0.3s;
}

.footer-center a:hover,
.footer-right a:hover {
  color: #fcd535;
  opacity: 1;
}

.footer-bottom {
  text-align: center;
  z-index: 2;
  position: relative;
}

.footer-social svg {
  font-size: 11px;
  margin: 0 6px;
}

.copyright {
  font-family: "Inter";
  font-size: 12px;
  opacity: 0.75;
  margin-top: 10px;
}

/* responsive */
@media (max-width: 1024px) {
  .footer-content {
    grid-template-columns: 1fr auto 1fr auto 1fr;
    padding: 0 40px;
    column-gap: 25px;
  }

  .footer-bg-gif {
    width: 55vw;
    opacity: 0.4;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 60px 15px 20px;
  }

  .footer-content {
    grid-template-columns: 1fr;
    row-gap: 45px;
    margin: 60px 0;
    padding: 0 25px;
    text-align: center;
  }

  .footer-left-line,
  .footer-right-line {
    display: none;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    max-width: 380px;
    margin: auto;
  }

  .footer-bg-gif {
    width: 75vw;
    opacity: 0.3;
  }
}

@media (max-width: 480px) {
  .footer-bg-gif {
    width: 85vw;
  }
}
