.footer {
  position: relative;
  background: #131313;
  color: #FFFFFF;
  font-family: 'Segoe UI';
  padding: 35px 0 10px;
  overflow-x: hidden;
}

.footer-bg {
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: hidden;
}

.footer-bg-gif {
  width: 45vw;
  max-width: 520px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.footer-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
}

.footer-content {
  position: relative;
  z-index: 2;
  width: 90%;
  max-width: 1200px;
  margin: 80px auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr auto 1fr;
  column-gap: 40px;
  align-items: start;
}

.footer-logo {
  width: 180px;
  margin-bottom: 22px;
}

.footer-about {
  font-size: 13px;
  line-height: 1.55;
  opacity: 0.95;
}

.footer-left-line,
.footer-right-line {
  width: 1px;
  background: #fff;
  height: 90px;
  margin-top: 25px;
}

.footer-center h3,
.footer-right h3 {
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 18px;
}

.footer-center ul,
.footer-right ul {
  list-style: none;
  padding: 0;
}

.footer-center li,
.footer-right li {
  margin-bottom: 16px;
}

.footer-center a,
.footer-right a {
  text-decoration: none;
  font-size: 13px;
  opacity: 0.85;
  transition: .3s;
}

.footer-center a:hover,
.footer-right a:hover {
  color: #fcd535;
  opacity: 1;
}


.footer-bottom {
  text-align: center;
  z-index: 2;
  position: relative;
}

.footer-social svg {
  font-size: 11px;
  margin: 0 6px;
}

.copyright {
  font-size: 10px;
  opacity: .75;
  margin-top: 10px;
}

/* responsive */
@media (max-width: 1024px) {
  .footer-content {
    grid-template-columns: 1fr auto 1fr auto 1fr;
    width: 95%;
    column-gap: 25px;
  }

  .footer-bg-gif {
    width: 55vw;
    opacity: 0.4;
  }
}

@media (max-width: 768px) {

  .footer {
    padding: 60px 15px 20px;
  }

  .footer-content {
    grid-template-columns: 1fr;
    row-gap: 45px;
    margin: 60px auto;
    text-align: center;
  }

  .footer-left-line,
  .footer-right-line {
    display: none;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    max-width: 380px;
    margin: auto;
  }

  .footer-bg-gif {
    width: 75vw;
    opacity: 0.3;
  }
}

@media (max-width: 480px) {
  .footer-bg-gif {
    width: 85vw;
  }
}