.blog-page {
    background-color: #f9f9f9;
    min-height: 100vh;
}


.blog-header {
    background-color: #1a1919;
    color: #fff;
    min-height: 80vh;
    height: auto;
    padding: 120px 0 80px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.blog-header::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url("/images/blogs/lines.png") repeat;
    background-size: auto;
    opacity: 1;
    filter: brightness(1.2);
    pointer-events: none;
}

.blog-header-content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.breadcrumb {
    font-size: 14px;
    color: #aaa;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 10px;
}

.page-title {
    font-size: 4.9rem;
    font-weight: 900;
    margin: 0 0 10px;
    color: #fff;
}

.page-subtitle {
    font-size: 18px;
    color: #ccc;
    max-width: 600px;
}


.blog-container {
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;
    padding-bottom: 60px;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}


@media (max-width: 1024px) {
    .page-title {
        font-size: 3.5rem;
    }
}

@media (max-width: 768px) {

    .blog-header {
        min-height: auto;
        padding: 80px 0 60px;
    }

    .page-title {
        font-size: 36px;
    }

    .page-subtitle {
        font-size: 16px;
    }

    .blog-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .page-title {
        font-size: 30px;
    }
}